footer{
    background-color: #353535;
    @include desktop{
    }

    .footer__element{
        margin-left:45px;
        padding: 25px;
        @include desktop{
            display:flex;
            flex-direction: row-reverse;
            justify-content: end;
        }

        &__title{
            font-size:35px;
            margin-left:35px;
            color:white;
            font-family: Shrikhand;
            @include desktop{
                font-size:25px;
                color:white;
            }
            @include tablet{
                font-size:25px;
                color:white;
            }
        }

        &__list{
            color:white;
            font-weight: bold;
            @include desktop{
                display:flex;
            }


            .list__liens{
                font-size:25px;
                margin-bottom:15px;
                @include desktop{
                    font-size: 18px;
                    margin-right:25px;
                }
                @include tablet{
                    font-size: 18px;
                    margin-right:25px;
                }
            }
        }
    }
    .fa-solid{
        margin-right:15px;
    }
}

