.hero__btn{
    color: white;
    padding: 2rem 3rem;
    text-align: center;
    background: #ff79da;
    background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
    margin: 4rem auto;
    border-radius: 60px;
    font-size:35px;
    margin-top:15px;
    display:flex;
    justify-content: center;
    border:none;
    @include desktop{
        font-size:25px;
        padding: 1rem 2rem;
        margin-top:35px;
    }
    @include tablet{
        font-size:25px;
        padding: 1rem 2rem;
    }
    &:hover{
        background: linear-gradient(180deg, #ff99e2 0%, #dc7bff 100%);
    }
}