// Transition fondue
.menuWrapper_allMenus__menuList{
    animation-name: transition-fondue;
    animation-delay: 3300ms;
    animation-duration: 1s;
    transform: translateY(-60px);
    opacity:0;
    animation-fill-mode: forwards;
}

@keyframes transition-fondue {   
    100%{
        transform:translateY(0px);
        opacity:1;
    }
}
