// Texte
@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto/Roboto-Black.ttf') format('ttf');
    src: url('../../fonts/Roboto/Roboto-BlackItalic.ttf') format('ttf');
    src: url('../../fonts/Roboto/Roboto-Bold.ttf') format('ttf');
    src: url('../../fonts/Roboto/Roboto-BoldItalic.ttf') format('ttf');
    src: url('../../fonts/Roboto/Roboto-BlackItalic.ttf') format('ttf');
    src: url('../../fonts/Roboto/Roboto-BlackItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

// Logo et titres
@font-face {
    font-family: 'Shrikhand';
    src: url('/fonts/Shrikhand/Shrikhand-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}