@mixin desktop{
    @media  screen and (min-device-width: 1200px) and (max-device-width: 2500px) {
        @content;
    }
}

@mixin tablet{
    @media screen and (min-device-width: 768px) and (max-device-width: 1199px) {
        @content; 
    }
}



@mixin fade-transition{
    animation-name: fade-animation;
    animation-delay: 3300ms;
    animation-duration: 1s;
    transform: translateY(-60px);
    opacity:0;
    animation-fill-mode: forwards; 
}

@keyframes fade-animation {   
    100%{
        transform:translateY(0px);
        opacity:1;
    }
}
