// Couleurs principales du site
$color1: #99e2d0;
$color2: #99e2d0;
$color3: #008766;
$color4: #89c8fa;
$color5: #003a68;
$color6: #9356dc;

// Couleurs home page :
$background: #f6f6f6;
$couleurs-btn: #9356dc;
$couleurHeader: #ffffff;
$location: #eaeaea;
$CouleursFooter: #353535;
$titreH2: #000000;

// Tailles des polices
